#root {
  box-sizing: border-box;
  scroll-behavior: auto;
  font-family: Poppins, sans-serif;
  max-width: 100%;
  min-width: 320px;
}

/* main{
  background: url(src/images/bg-camera.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -999;
  padding-bottom: 50rem;

} */
